@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-bungee: "Roboto", ui-sans-serif, sans-serif;
    --font-marker: "Roboto", ui-sans-serif, sans-serif;
    --font-display: "Roboto", ui-sans-serif, sans-serif;

    
    --color-general: #ffab00;
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

[data-flux-input] input[data-flux-control],
select[data-flux-control],
textarea[data-flux-control] {
    @apply border-neutral-300! border-b-neutral-300! bg-white! text-neutral-950! shadow-sm! placeholder:text-neutral-400!;
}

[data-flux-input] input[data-flux-control]:disabled,
select[data-flux-control]:disabled,
textarea[data-flux-control]:disabled {
    @apply cursor-not-allowed! border-neutral-200! bg-neutral-100! text-neutral-500!;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply border-general! outline-hidden ring-2 ring-general/20 ring-offset-0;
}

[data-flux-button][class*="bg-[var(--color-accent)]"] {
    @apply border-black/10! bg-general! text-neutral-950!;
}

[data-flux-button][class*="bg-[var(--color-accent)]"]:hover {
    @apply brightness-95!;
}

[data-flux-pagination] [aria-current="page"] {
    @apply bg-neutral-950! text-white! shadow-sm!;
}

[data-flux-pagination] button:hover {
    @apply bg-neutral-950! text-white!;
}

[data-flux-pagination] > div:not(:first-child) {
    @apply border-neutral-300! bg-white!;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* body{
    padding-top:80px;
} */

/* From Uiverse.io by alexruix */
.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
}

.loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffab00;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #a4a1a1, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7);
    }

    40% {
        transform: scale(0.8, 1.2);
    }

    60% {
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2;
    }

    100% {
        box-shadow: 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: -22;
    }
}
